@model ScrollAirdropStatusDataResults

<div class="card group col-span-12 lg:col-span-4">
    <div class="px-4 pb-4 sm:px-5">
        <div class="my-3 flex h-8 items-center justify-between">
            <h2 class="font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100 lg:text-base">
                Check your risk of being a Sybil for Scroll Airdrop
            </h2>
        </div>
        <div>
            <div class="inline-space mt-5 flex flex-wrap items-end">
                <a href='@Url.Action("Index", "Scroll")' class="btn space-x-2 bg-info font-medium text-white hover:bg-info-focus hover:shadow-lg hover:shadow-info/50 focus:bg-info-focus focus:shadow-lg focus:shadow-info/50 active:bg-info-focus/90">
                    <span>Checker</span>
                    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-2 flex h-8 items-center justify-between px-4">
        <h2 class="text-xl font-semibold text-slate-700 dark:text-navy-100">
            Introducing Scroll’s First Airdrop
        </h2>
    </div>

    <div style="text-align: justify!important" class="ax-transparent-gridline ax-rounded-b-lg px-4 mt-2 text-justify">
        <p>
            Scroll's first airdrop fairly rewarded key contributors within the Scroll ecosystem.
            The allocation of SCR tokens reflected the importance of participation, involvement, and community support.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <ul class="ax-transparent-gridline ax-rounded-b-lg px-4 mt-2 text-justify space-y-3">
                <li style="line-height:2">
                    <strong>Community Drop:</strong> Participants that contributed via on-chain activities.
                </li>
                <li style="line-height:2">
                    <strong>Ecosystem Projects:</strong> Projects that built on Scroll, with a focus on growth and innovation.
                </li>
                <li style="line-height:2">
                    <strong>Industry Contributors:</strong> Technical contributors, ZK researchers, open-source developers, public goods organizations, and educational data providers who supported the broader Ethereum ecosystem.
                </li>
                <li style="line-height:2">
                    <strong>Global Community:</strong> Global community organizers, hackathon winners, Road to DevCon, Ethereum translators, and Discord moderators who supported Scroll's mission.
                </li>
            </ul>
        </div>

        <div class="my-6 flex justify-center">
            <img src="~/images/scroll_airdrop_total_wallets.png" alt="Scroll Airdrop Data" class="max-w-full rounded-lg shadow-md">
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2">
            <h3 class="text-xl font-semibold text-slate-700 dark:text-navy-100"><strong>Airdrop Claim Details</strong></h3>
            <ul class="ax-transparent-gridline ax-rounded-b-lg px-4 mt-2 text-justify space-y-3">
                <li><strong>Snapshot:</strong> The snapshot for assessing eligibility for Scroll's First Airdrop was taken on <strong>October 19, 2024</strong>.</li>
                <li><strong>Airdrop claim opened:</strong> Eligible recipients were able to start claiming on <strong>October 22, 2024, at 07:00 UTC</strong>.</li>
                <li><strong>How to claim:</strong> Recipients needed to visit the <a target="_blank" rel="noopener noreferrer" href="http://claim.scroll.io/"><strong>Airdrop Claim</strong></a> page to securely claim their tokens.</li>
                <li><strong>Claim period:</strong> Scroll's First Airdrop remained open for 90 days.</li>
            </ul>
        </div>
    </div>
</div>

<div class="card group col-span-12 lg:col-span-4">
    <div class="card justify-between p-5">
        <div class="card col-span-12 sm:col-span-7 lg:col-span-8 xl:col-span-7 rounded-lg bg-slate-100 p-3 dark:bg-navy-600">
            <div class="my-3 flex items-center justify-between px-4">
                <h2 class="text-xl font-semibold text-slate-700 dark:text-navy-100">
                    Scroll Airdrop: Claims Status
                </h2>
            </div>
            <div class="grid grid-cols-2 gap-3 px-4">
                <div class="rounded-lg bg-info p-4 transition-shadow duration-300 hover:shadow-lg hover:shadow-info/50">
                    <div class="flex justify-between space-x-1">
                        <p class="mt-3 text-xl font-medium text-white">
                            55.0M $SCR
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </div>
                    <p class="mt-1 text-xs+ text-white">Total Allocated Amount</p>
                </div>
                <div class="rounded-lg bg-primary p-4 transition-shadow duration-300 hover:shadow-lg hover:shadow-primary/50 dark:bg-accent dark:shadow-accent/50 dark:hover:shadow-accent/50">
                    <div class="flex justify-between space-x-1">
                        <p class="mt-3 text-xl font-medium text-white">
                            @Model.TotalAmount $SCR
                        </p>
                        <svg class="h-5 w-5 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5">
                            <path d="M12.5293 18L20.9999 8.40002" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 13.2L7.23529 18L17.8235 6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <p class="mt-1 text-xs+ text-white">Total Claimed Amount</p>
                </div>
            </div>
            <div class="mt-3 px-3">
                <div id="scroll-airdrop-status-total-amount-chart"></div>
            </div>
        </div>
        <div class="card col-span-12 sm:col-span-7 lg:col-span-8 xl:col-span-7 rounded-lg bg-slate-100 p-3 dark:bg-navy-600 mt-5">
            <div class="my-3 flex items-center justify-between px-4">
                <h2 class="text-xl font-semibold text-slate-700 dark:text-navy-100">
                    Scroll Airdrop: Claimers Status
                </h2>
            </div>
            <div class="grid grid-cols-2 gap-3 px-4">
                <div class="rounded-lg bg-info p-4 transition-shadow duration-300 hover:shadow-lg hover:shadow-info/50">
                    <div class="flex justify-between space-x-1">
                        <p class="mt-3 text-xl font-medium text-white">
                            571K+
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                        </svg>
                    </div>
                    <p class="mt-1 text-xs+ text-white">Total Eligible Wallets</p>
                </div>
                <div class="rounded-lg bg-primary p-4 transition-shadow duration-300 hover:shadow-lg hover:shadow-primary/50 dark:bg-accent dark:shadow-accent/50 dark:hover:shadow-accent/50">
                    <div class="flex justify-between">
                        <p class="mt-3 text-xl font-medium text-white">
                            @Model.TotalUsers
                        </p>
                        <svg class="h-5 w-5 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5">
                            <path d="M12.5293 18L20.9999 8.40002" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 13.2L7.23529 18L17.8235 6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <p class="mt-1 text-xs+ text-white">Total Wallets Claimed</p>
                </div>
            </div>
            <div class="mt-3 px-3">
                <div id="scroll-airdrop-status-total-users-chart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener(
        "app:mounted",
        function() {

            var dates = @Html.Raw(Json.Serialize(Model.DayList.Select(x => x.Date)));
            var amounts = @Html.Raw(Json.Serialize(Model.DayList.Select(x => x.Amount)));
            var wallets = @Html.Raw(Json.Serialize(Model.DayList.Select(x => x.Users)));

            let formattedDates = dates.map(dateStr => {
                let date = new Date(dateStr);
                return date.toLocaleDateString("en-US", { month: "short", day: "2-digit", year: "numeric" });
            });

            renderAirdropCharts(wallets, formattedDates, "Claimers", "#scroll-airdrop-status-total-users-chart", ["#bf0603"])

            renderAirdropCharts(amounts, formattedDates, "Amount Claimed", "#scroll-airdrop-status-total-amount-chart", ["#0EA5E9"])
        },
        { once: !0 }
    )

    function renderAirdropCharts(seriesData, categories, seriesName, sectionId, colors) {
        var o = {
            colors: colors,
            series: [{ name: seriesName, data: seriesData }],
            chart: { parentHeightOffset: 0, height: 249, type: "area", toolbar: { show: !1 } },
            fill: { type: "gradient", gradient: { shadeIntensity: 1, inverseColors: !1, opacityFrom: 0.35, opacityTo: 0.05, stops: [20, 100, 100, 100] } },
            dataLabels: { enabled: !1 },
            stroke: { width: 2, curve: "smooth" },
            plotOptions: { bar: { borderRadius: 5, barHeight: "90%", columnWidth: "40%" } },
            legend: { show: !1 },
            xaxis: { categories: categories },
            yaxis: {
                labels: {
                    offsetX: -12, offsetY: 0, formatter: function(value) {
                        if (value >= 1000000) {
                            return (value / 1000000).toFixed(1) + "M";
                        } else if (value >= 1000) {
                            return (value / 1000).toFixed(1) + "K";
                        }
                        return value;
                    }
                }
            },
            grid: { padding: { left: 0, right: 0, top: -10, bottom: 8 } },
        },
            a = document.querySelector(sectionId);
        setTimeout(function() {
            (a._chart = new ApexCharts(a, o)), a._chart.render()
        })
    }

</script>